<div header></div>
<div class="container" ng-controller="carController as carCtrl">
    <ul>
        <li>Model: {{carCtrl.car.Model}}</li>
        <li>Manufacturing year: {{carCtrl.car.Year}}</li>
        <li>Color:
            <div style="display: inline-block; width: 25px; height: 15px; border: 1px black solid; background-color: #{{carCtrl.car.Color}}"></div>
        </li>
        <li>Top speed: {{carCtrl.car.TopSpeed}} km/h</li>
        <li>Price: {{carCtrl.car.Price | currency}}</li>
    </ul>

    <button ng-controller="userController as userCtrl" class="btn btn-success" type="button" data-toggle="modal" data-target="#add" ng-class="{'disabled' : !userCtrl.isValidUser}">Order</button>

    <!-- Order modal -->

    <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="addModalLabel">Order form</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" name="orderForm">
                        <label>Pay method</label>
                        <div class="radio">
                            <label>
                                <input type="radio" name="payMethod" ng-model="payMethod" value="bank transfer">
                                Bank transfer
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="payMethod" ng-model="payMethod" value="credit cart" checked>
                                Credit cart
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="payMethod" ng-model="payMethod" value="cash">
                                Cash
                            </label>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-dismiss="modal" ng-click="carCtrl.addOrder(payMethod)" ng-class="{'disabled': undefined === payMethod}">Submit order</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Notation modal -->

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p class="modal-title lead text-center" id="myModalLabel">Order result</p>
                </div>
                <div class="modal-body">
                    <p class="text-center">Your order was submitted successfully. Thanks.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>